apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-deployment
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Chart.Name }}
    release: {{ .Release.Name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app:  {{ .Chart.Name }}
        release: {{ .Release.Name }}
      annotations:
        commit-hash: "rev/{{ .Values.rev_id }}"
    spec:
      serviceAccountName: {{ .Values.serviceAccount.name }}
      volumes:
        - name: acme-challenge-data
          emptyDir: {}
        {{- if .Values.certManager.backup.enabled }}
        - name: acme-backup-data
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}-backup
        {{- end }}
        - name: config-volume
          configMap:
            name: cert-issuer-config
            items:
              - key: config.json
                path: config.json
      containers:
        - name: certmanager
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          securityContext:
            runAsNonRoot: true
            runAsUser: 1002
            allowPrivilegeEscalation: false
            seccompProfile:
              type: "RuntimeDefault"
            capabilities:
              drop:
                - ALL
          env:
            - name: CERTMANAGER_RUN_INTERVAL
              value: "{{ .Values.certManager.runInterval }}"
            - name: CERTMANAGER_INITIAL_DELAY
              value: "{{ .Values.certManager.initialDelay }}"
            - name: CERTMANAGER_CHALLENGE_PATH
              value: {{ .Values.sharedPath }}
            {{- if .Values.certManager.backup.enabled }}
            - name: CERTMANAGER_BACKUP_PATH
              value: {{ .Values.certManager.backup.path }}
            {{- end }}
            - name: CERTMANAGER_ISSUE_TIMEOUT
              value: {{ .Values.certManager.issTimeout }}
            - name: CERTMANAGER_CONFIG_PATH
              value:  /etc/cert-manager/config.json
          resources:
            {{- toYaml .Values.certManager.resources | nindent 12 }}
          volumeMounts:
            - name: acme-challenge-data
              mountPath: {{ .Values.sharedPath }}
            {{- if .Values.certManager.backup.enabled }}
            - name: acme-backup-data
              mountPath: {{ .Values.certManager.backup.path }}
            {{- end }}
            - name: config-volume
              mountPath: /etc/cert-manager
              readOnly: true
          command:
            - /app/certmanager
            - certmanager
        - name: challenge
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.challenge.port }}
              protocol: TCP
          securityContext:
            runAsNonRoot: true
            runAsUser: 1002
            allowPrivilegeEscalation: false
            seccompProfile:
              type: "RuntimeDefault"
            capabilities:
              drop:
                - ALL
          env:
            - name: CHALLENGE_PORT
              value: "{{ .Values.challenge.port }}"
            - name: CHALLENGE_PATH
              value: "{{ .Values.sharedPath }}"
          volumeMounts:
            - name: acme-challenge-data
              mountPath: {{ .Values.sharedPath }}
          resources:
            {{- toYaml .Values.challenge.resources | nindent 12 }}
          command:
            - /app/certmanager
            - challenge
