replicaCount: 1

image:
  repository: ghcr.io/breathbath/certmanager
  tag: latest
  pullPolicy: Always

docker:
  pullSecret:

serviceAccount:
  create: true
  name: cert-manager

rev_id:

certManager:
  runInterval: 1h
  initialDelay: 1m
  backup:
    enabled: true
    path: /acmeBackup
    pvc:
      storageClassName: default
      size: 256Mi
      accessModes:
        - ReadWriteOnce
  resources:
    limits:
      cpu: 500m
      memory: 128Mi
    requests:
      cpu: 50m
      memory: 30Mi
  issTimeout: 20m

challenge:
  port: 8080
  resources:
    limits:
      cpu: 500m
      memory: 128Mi
    requests:
      cpu: 50m
      memory: 30Mi

service:
  port: 80

sharedPath: /acmeChallenge
configPath:
